#error{
  color:red;
}

body {
  background-color: lightblue !important;
}

h1 {
  margin-top: 1% !important;
  margin-bottom: 3% !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.centrer {
  text-align: center;
}

.container {
  background-color: red;
}

.prenoms {
  background-color: grey;
}
